@import '~bootstrap/dist/css/bootstrap.min.css';

.material-symbols-outlined{
font-size: 20px;
font-weight: 300;
}
.fs-6 {
    font-size: .8rem!important;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    width:280px;
    margin-right: 2rem;
}
.ovw{
    color:#757575;
    font-family: Inter;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nav-link{
    color: #757575;
    font-family: Inter;
}
